@font-face {
    font-family: 'stabile-toy';
    src: url('2F17D7_0_0.eot');
    src: url('2F17D7_0_0.eot?#iefix') format('embedded-opentype'),
         url('2F17D7_0_0.woff2') format('woff2'),
         url('2F17D7_0_0.woff') format('woff'),
         url('2F17D7_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
