@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ymr8r7');
	src:url('fonts/icomoon.eot?#iefixymr8r7') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ymr8r7') format('truetype'),
		url('fonts/icomoon.woff?ymr8r7') format('woff'),
		url('fonts/icomoon.svg?ymr8r7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-SOPORTE-ICONOS-10 .path1:before {
	content: "\e600";
	color: rgb(79, 203, 161);
}
.icon-SOPORTE-ICONOS-10 .path2:before {
	content: "\e601";
	margin-left: -0.96875em;
	color: rgb(255, 255, 255);
}
.icon-SOPORTE-ICONOS-11 .path1:before {
	content: "\e602";
	color: rgb(79, 203, 161);
}
.icon-SOPORTE-ICONOS-11 .path2:before {
	content: "\e603";
	margin-left: -0.96875em;
	color: rgb(255, 255, 255);
}
.icon-SOPORTE-ICONOS-09 .path1:before {
	content: "\e604";
	color: rgb(79, 203, 161);
}
.icon-SOPORTE-ICONOS-09 .path2:before {
	content: "\e605";
	margin-left: -0.96875em;
	color: rgb(255, 255, 255);
}
.icon-cross:before {
	content: "\e607";
}
.icon-lnr-menu:before {
	content: "\e606";
}
